<div class="container">
    <div class="row">
        <h1>Top Stories from USA Today</h1>
    </div>
    <div class="row">
        <div class="col-6" id="article-list">
            
        </div>
            
        <div class="col-6">
            <h3>Descriptions and notes go here</h3>
        </div>
    </div>
</div>

{{!-- App file --}}
<script src="app.js"></script>