<h1>Top Stories from USA Today</h1>

<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 overflow-auto" style="height: 45em;">
            <h2>Articles</h2>
            <hr>
            <div id="article-list"></div>
        </div>

        <div class="col-4">
            <h2>Notes</h2>
            <hr>
            <div id="notes"></div>
            <div id="note-entries"></div>
        </div>
    </div>
</div>

{{!-- App file --}}
<script src="app.js"></script>